*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.log
*.txt
build/
app-client/build/
app-master/build/
core/build/
generate_project.py
